*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}

.layerone{
    height: 
    display: flex;
    float:auto;
    

}
/* svg{
    width: 100%;
    height: auto;
    position: relative;
} */